CofeWebApplication/Connected Services/BasketServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51283/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pocos" />
  <xs:import schemaLocation="http://localhost:51283/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:element name="GetAllCoffees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoffeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="GetAllCoffeesResult" nillable="true" type="q1:ArrayOfCoffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoffeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coffee_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoffeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="GetCoffeeByIdResult" nillable="true" type="q2:Coffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketid" type="xs:int" />
        <xs:element minOccurs="0" name="coffeeid" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="AddtoBasketResult" nillable="true" type="q3:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBasketItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketItemId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBasketItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditBasketItemResult" nillable="true" type="q4:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketid" type="xs:int" />
        <xs:element minOccurs="0" name="coffeeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromBasketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CheckOutBasketResult" nillable="true" type="q5:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basket_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetTheBasketItemsResult" nillable="true" type="q6:ArrayOfBasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBasketItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBasketItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllBasketItemsResult" nillable="true" type="q7:ArrayOfBasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetHistoryBasketResult" nillable="true" type="q8:ArrayOfBasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetTheBasketResult" nillable="true" type="q9:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>