CofeWebApplication/Connected Services/BasketServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pocos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pocos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCoffee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coffee" nillable="true" type="tns:Coffee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoffee" nillable="true" type="tns:ArrayOfCoffee" />
  <xs:complexType name="Coffee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rating" type="xs:double" />
      <xs:element minOccurs="0" name="Storage" type="xs:int" />
      <xs:element minOccurs="0" name="Story" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TastingNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coffee" nillable="true" type="tns:Coffee" />
</xs:schema>